* {
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
}

.homepage {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(42, 38, 38);
    color: rgb(214, 170, 103);
    padding: 24px;
}

h1, h2, h3, h4, h5, h6{
    padding: 8px;
}

h1{
    text-align: center;
    padding: 8px 0;
}

p {
    margin-left: 36px;
}

.recipies{
    display: block;

    height: 192px;

    padding: 6px;
    margin: 36px;

    background-color: rgb(33, 30, 30);
    font-size: 0;
}

.recipeLink {
    display: inline-block;

    width: calc(33.33% - 24px);
    height: calc(100% - 24px);

    text-align: center;
    font-size: 24px;

    padding: 12px;
    padding-top: 56px;
    margin: 12px;

    background-color: rgb(20, 19, 19);
    color: rgb(214, 170, 103);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: 500px;
  }