body {
    background-color: rgb(42, 38, 38);
    color: rgb(214, 170, 103);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lucida Console', monospace;
}

h1{
    text-align: center;
}

a {
    color: rgb(214, 170, 103);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: 500px;
  }